/* font-awsome import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

/* 
base style */

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
/* 
header section */

.header {
  display: flex;
  margin: 9rem 9rem 12rem;
  background-color: #161616;
  border-radius: 30px;
}
.header_content_box {
  display: flex;
  width: 45%;
  flex-direction: column;
  margin: 16rem 10rem;
}
.header_content_box > *:not(:last-child) {
  margin-bottom: 3.3rem;
}
.heading_primary {
  color: #ffffff;
  font-size: 10rem;
  font-weight: 700;
  line-height: 11rem;
}
.paragraph {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 4rem;
}
.header_paragraph {
  color: #ffffff;
}
.btn {
  display: inline-block;
  color: #ffffff;
  padding: 2rem 3.6rem;
  background-color: #dd0000;
  border-radius: 5px;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  transition: all 0.4s;
}
.btn_header {
  width: 33%;
}
.btn:hover {
  box-shadow: 5px 5px 3.5rem #ffffff;
  transform: translateY(-1rem);
}
.btn:active {
  box-shadow: 5px 5px 2rem #ffffff;
  transform: translateY(-0.6rem);
}
.fa-chevron-right {
  margin-left: 1.5rem;
}
.header_img_box {
  display: flex;
  width: 55%;
  align-items: flex-end;
  justify-content: flex-start;
}
.header_img_box img {
  width: 78rem;
  height: 83rem;
  display: block;
}
/* 
SECTION MAIN */

.sec_main {
  margin: 10rem 18rem;
  display: flex;
  column-gap: 3rem;
}
.checkbox {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}
.nav_box {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 45rem;
  background-color: #161616;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  row-gap: 4.2rem;
  border-radius: 2rem;
  padding: 0 4rem;
}
.nav_box li {
  width: 35rem;
}
.nav_item {
  text-decoration: none;
  display: block;
  color: #161616;
  background-color: #ffffff;
  border-radius: 1.8rem;
  padding: 2.1rem 4.4rem;
  text-align: center;
  font-size: 2.7rem;
}
.back_color {
  background-color: #dd0000;
  color: #ffffff;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  column-gap: 3rem;
  row-gap: 3rem;
}
.card {
  border: 1px solid #e8e8e8;
  border-radius: 2rem;
}

.m-small {
  margin: 2rem;
}
.card > *:last-child {
  margin-bottom: 2rem;
}
.card > img {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}

/* 
STYLES FOR MATCHES.HTML START */

.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 4rem;
  column-gap: 2.7rem;
}
.vs {
  font-size: 2.7rem;
  color: #161616;
  font-weight: 700;
}
.flag {
  width: 37%;
}
.left_align {
  margin-left: 0;
  color: #4d4d4d;
}
.center_align {
  text-align: center;
}
/* 
STYLES FOR MATCHES.HTML END */

.btn_second {
  text-decoration: none;
  color: #161616;
  font-size: 2rem;
  border: 1px solid #161616;
  border-radius: 0.7rem;
  padding: 0.4rem 2.5rem;
  display: inline-block;
}
.heading_tertiary {
  font-size: 2.5rem;
  color: #161616;
}
.card > *:nth-child(4) span {
  font-size: 2.5rem;
  color: rgba(22, 22, 22, 0.7);
  margin-right: 4rem;
}
.fa-clock,
.fa-comment-dots {
  color: rgba(22, 22, 22, 0.8);
  font-size: 2.5rem;
  margin-right: 1.5rem;
}
/* 
HIDDEN BUTTON FOR TABLETS */

.hidden_button {
  display: none;
  margin: 8rem auto;
}

/* 
FOOTER SECTION */

footer {
  background-color: #161616;
  text-align: center;
  padding: 12rem 10rem;
}

.footer_heading {
  font-size: 5.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 5rem;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  flex-wrap: wrap;
  row-gap: 2rem;
}
footer ul li {
  list-style-type: none;
  display: block;
}
.footer_link {
  text-decoration: none;
  color: #b9b9b9;
  font-size: 2.5rem;
  padding: 1.5rem 6rem;
  display: inline-block;
}

/* 
MEDIA QUERIES FO DIFFERENT DEVICES */

/* laptop */

@media screen and (max-width: 1441px) {
  html {
    font-size: 42%;
  }
  .header {
    margin: 6rem 4rem;
  }
  .header_content_box {
    width: 50%;
    margin: 14rem;
  }
  .header_img_box {
    width: 50%;
  }
  .header_img_box img {
    width: 78rem;
    height: 83rem;
  }

  .sec_main {
    margin: 6rem 4rem;
  }

  .teams {
    padding: 4rem;
  }
}
/* small laptop */
@media screen and (max-width: 1025px) and (min-width: 770px) {
  html {
    font-size: 38%;
  }

  .header_content_box {
    width: 52%;
    margin: 14rem 8rem;
  }
  .header_img_box {
    width: 48%;
  }
  .header_img_box img {
    width: 72rem;
    height: 79rem;
  }
  .footer_link {
    padding: 1.5rem 4rem;
  }
}
/* tab */
@media screen and (max-width: 770px) and (min-width: 482px) {
  html {
    font-size: 30.5%;
  }
  .header {
    margin: 6rem 4rem;
  }
  .header_content_box {
    width: 50%;
    margin: 5rem;
  }
  .header_img_box {
    width: 50%;
    justify-content: flex-end;
  }
  .header_img_box img {
    width: 74rem;
    height: 78rem;
  }

  .sec_main {
    flex-direction: column;
  }
  .nav_box {
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 5rem 0;
    column-gap: 4.5rem;
    justify-content: space-between;
  }
  .nav_box li {
    width: 33.33%;
  }
  .nav_item {
    border: 1px solid #e8e8e8;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .hide_in_tab {
    display: none;
  }
  .hidden_button {
    display: block;
  }

  .checkbox:checked ~ .hide_in_tab {
    display: block;
  }

  .footer_link {
    padding: 1.5rem 12rem;
  }
}
/* 
mobile */

@media screen and (max-width: 482px) {
  html {
    font-size: 23.3%;
  }
  .header {
    margin: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0;
  }
  .header_content_box {
    width: 90%;
    margin: 5rem;
    align-items: center;
    padding: 12rem 0 4rem;
  }
  .header_paragraph {
    text-align: center;
    font-size: 2.8rem;
    width: 70%;
    line-height: 5.5rem;
  }
  .heading_primary {
    text-align: center;
    line-height: 13rem;
  }
  .header_content_box > *:not(:last-child) {
    margin-bottom: 8rem;
  }
  .header_img_box {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .header_img_box img {
    width: 67rem;
    height: 71rem;
    margin-left: 10rem;
  }

  .sec_main {
    margin: 6rem 4rem;
    flex-direction: column;
  }
  .nav_box {
    width: 100%;
    height: auto;
    padding: 5rem 0 7rem;
    column-gap: 4.5rem;
    justify-content: space-between;
    margin-bottom: 5rem;
    background-color: transparent;
  }
  .nav_box li {
    width: 70%;
    text-align: center;
  }
  .nav_item {
    font-size: 5rem;
    border: 1px solid #e8e8e8;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card > *:not(:first-child) {
    margin-top: 4rem;
  }

  .hidden_button {
    display: hidden;
  }
  .btn_second {
    font-size: 4.5em;
  }
  .heading_tertiary {
    font-size: 5rem;
  }
  footer ul {
    flex-direction: column;
    row-gap: 3rem;
  }
  .footer_link {
    padding: 1.5rem 2rem;
  }
  .heading_primary {
    line-height: 10rem;
  }
}
